body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

p,
h1,
h2,
a {
  margin: 0;
}

.main {
  padding: 2em;
  height: 500px;
}

.heading-1 {
  margin: 1em;
  font-family: 'Zilla Slab', serif;
  font-size: 2em;
}
